body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Er CSS-kod nedan */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'header header header'
    'nav  nav nav'
    'main main main'
    'footer footer footer';
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

main {
  grid-area: main;
  margin-left: 10px;
  padding: 1px 16px;
}

/* styling text size */
header h1 {
  font-size: 3vw;
}

main h2 {
  font-size: 2vw;
}

main p {
  font-size: 1.5vw;
}

nav {
  display: flex;
  flex-direction: row;
  grid-area: nav;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
}

nav > a {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

nav > a:hover {
  background-color: black;
}

#movie-figures {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#movie-figures > figure {
  max-width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

#movie-figures > figure > img {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  grid-area: footer;
  font-size: large;
  background-color: black;
  color: white;
  justify-content: center;
  padding: 15px;
}

/* Desktop */
@media screen and (max-width: 1300px) {
  /* Anpassningar ... */

  #container {
    height: 1000px;
  }
  main {
    justify-content: center;
  }
  #movie-figures > figure {
    max-width: 300px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 10px;
  }
}

/* Tablet */
@media screen and (max-width: 900px) {
  /* Anpassningar .. */

  #container {
    height: 1220px;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'header main main'
      'nav main main'
      'footer main main';
  }
  header {
    max-width: auto;
    height: auto;
  }
  main {
    margin-left: 0;
  }

  #movie-figures {
    justify-content: start;
  }

  #movie-figures > figure {
    margin: auto;
  }
  #movie-figures > figure > img {
    max-width: 250px;
  }

  footer {
    max-width: auto;
    height: auto;
    align-items: center;
  }

  nav {
    max-width: auto;
    flex-direction: column;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  /* Anpassningar ...*/

  #container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'footer';
  }

  nav > a {
    border: none;
    font-size: 4vw;
  }

  header h1 {
    font-size: 6vw;
  }

  #movie-figures > figure {
    max-width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
  }

  #movie-figures > figure > img {
    max-width: 100%;
  }

  main h2 {
    font-size: 4vw;
  }

  main p {
    font-size: 3vw;
  }
}
