body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Er CSS-kod nedan */
#movie-figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#movie-figures > figure > img {
  max-width: 300px;
  width: 100%;
  object-fit: cover;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

footer {
  font-size: large;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
/* Mobile */
@media screen and (max-width: 500px) {
  /* Anpassningar ... */
}
/* Desktop */
@media screen and (max-width: 1300px) {
  /* Anpassningar ... */
}
/* Tablet */
@media screen and (max-width: 900px) {
  /* Anpassningar ... */
}
